{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "no-console": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "arrow-parens": ["error", "as-needed"],
    "no-underscore-dangle": "off",
    "max-len": ["error", 100, 2],
  },
  // these are globals made available through either the tagpro API or by
  // requiring them in src/index.js
  "globals": {
    "tagpro": false,
    "Box2D": false,
    "PIXI": false,
  }
}
