{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "jquery": true,
  },
  "rules": {
    "no-console": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "arrow-parens": ["error", "as-needed"],
    "no-underscore-dangle": "off",
    "max-len": ["error", 100, 2],
    "object-curly-newline": ["error", {
      ObjectExpression: { minProperties: 5, multiline: true, consistent: true },
      ObjectPattern: { minProperties: 5, multiline: true, consistent: true }
    }],
    "no-param-reassign": "off",
    "no-lonely-if": "off",
  },
  // these are globals made available through either the tagpro API or by
  // requiring them in src/index.js
  "globals": {
    "tagpro": false,
    "Box2D": false,
    "PIXI": false,
  }
}
